{
  "fitbit": {
    "clientID":     "getyourown",
    "clientSecret": "getyourown"
  },
  "runkeeper": {
    "clientID":     "getyourown",
    "clientSecret": "getyourown"
  },
  "mongodb": "mongodb://get:yourown@at.mlab.com:15740/foobar",
  "cookieSecret": "somethingSecret"
}
