{
  "fitbit": {
    "clientID":     "getyourown",
    "clientSecret": "getyourown"
  },
  "runkeeper": {
    "clientID":     "getyourown",
    "clientSecret": "getyourown"
  },
  "server": {
    "host": "localhost",
    "port": 3000
  }
}
