<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/default.css" />
    <title>Fitbit → Runkeeper syncer</title>
  </head>
  <body>
    {{{body}}}

    <p class="repo_info">
      <a href="https://github.com/fiddur/fitbit2runkeeper">Fitbit → Runkeeper syncer</a>
      ©Fredrik Liljegren
      <a href="http://www.gnu.org/licenses/agpl-3.0.html">GNU AGPL-3.0</a>
    </p>
  </body>
</html>
