<p>
  This is a hobby project to sync Fitbit activities to Runkeeper.  It
  will automatically sync ALL your fitbit activities, from tracker, manual and
  auto-detected.  (Someday that might be a setting, if that would be
  interesting…).
</p>

<p>
  To stop the sync, just go to Fitbit account settings and revoke access for
  "ActivitySyncer".
</p>

<p>
  If you find any problems, report them
  <a href="https://github.com/fiddur/fitbit2runkeeper/issues">on the Github repository</a>
  and I will look into it when I get time.  This project is done solely on my spare time and
  is run on a free plan on <a href="http://herokuapp.com/">Heroku</a>, so don't
  expect too much.
</p>

<p class="legal_crap">
  Fitbit is a registered trademark and service mark of Fitbit,
  Inc. ActivitySyncer is designed for use with the Fitbit platform. This
  product is not put out by Fitbit, and Fitbit does not service or warrant the
  functionality of this product.
</p>
