<p>
  Welcome to activity syncer, copying Fitbit activities to Runkeeper.
  <a href="/about">About the project</a>
</p>

{{^user}}
  <p><a href="/auth/fitbit">Login with Fitbit</a> to continue</p>
{{/user}}
{{#user}}
  <img style="float: right; width: 2em" src="{{accounts.fitbit.profile._json.user.avatar}}" />
  <p>You are logged in as {{accounts.fitbit.profile.displayName}}.</p>

  {{^accounts.runkeeper}}
    <p><a href="/auth/runkeeper">Connect Runkeeper</a> to enable activity syncing.</p>
  {{/accounts.runkeeper}}

  {{#accounts.runkeeper}}
    <ul>
      <li><a href="/home">List fitbit activities</a></li>
      <li><a href="/fitbit/listSubscriptions">Check Fitbit API Subscription</a></li>
    </ul>
  {{/accounts.runkeeper}}
{{/user}}

<h4>News / Changelog</h4>

<dl>
  <dt>2017-02-04</dt>
  <dd>
    Bugfix: The fitbit URL got bad due to a mutable URL object not being
    properly copied but instead altered every time.
  </dd>

  <dt>2016-12-10</dt>
  <dd>
    <a href="https://github.com/fiddur/fitbit2runkeeper/issues/6">#6</a>: Fixed
    token refreshing (I hope), so that it can keep syncing without the user
    needing to login here repeatedly.
  </dd>
</dl>
